:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}
/* Header */

.header .navbar a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  margin-right: 10px;
}

.header .navbar a .icon {
  width: 23px;
  height: 23px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.header .navbar a:hover .icon {
  color: var(--bg-color);
}

.header .navbar a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}

.header .navbar a:hover::before {
  width: 100%;
}

.projects .btn-box {
  width: initial;
  height: initial;
  flex: none;
}
.projects .btn-box .btn {
  position: relative;
  width: 105px;
  padding: 4px;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.4rem;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.projects .btn-box .btn:hover {
  color: var(--text-color);
}

.projects .btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}
.projects .btn-box .btn:hover::before {
  width: 100%;
}
