@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth font-poppins m-0 p-0 border-[none] outline-[none];
  }

  html {
    @apply text-[62.5%] overflow-x-hidden;
  }

  body {
    @apply bg-mainDarkBg bg-opacity-100 text-customWhiteText font-poppins;
  }

  section {
    @apply min-h-screen pt-40 px-[9%] pb-8;
  }
}

@layer components {
  .header {
    @apply fixed top-[0] left-[0] w-full px-[9%] flex-col py-8 bg-transparent flex justify-between items-center [transition:0.3s] z-10 md:flex-row;
    .logo {
      @apply text-[2.7rem] text-customWhiteText font-semibold;
    }
  }
  .header.sticky {
    @apply bg-yellowgreen;
  }

  .home {
    background: url(./assets/home.jpg) no-repeat;
    @apply flex items-center px-[9%] py-[0] bg-cover bg-center;
    .home-content {
      @apply w-full md:max-w-[69rem];
      h1 {
        @apply text-[5.6rem] font-bold leading-[1.3];
        span {
          @apply text-customWhiteText;
        }
      }
      .text-animate {
        @apply relative w-full md:w-[32.8rem];
        h2 {
          -webkit-text-stroke: 0.7px #ededed;
          @apply text-[3.2rem] font-bold text-transparent;
        }
      }
      p {
        @apply text-[1.6rem] my-8 mx-[0];
      }
    }
    .home-img_hover {
      @apply hidden xl:block absolute top-[0] right-[0] w-[45%] h-full bg-transparent [transition:3s] hover:bg-mainDarkBg hover:opacity-80;
    }
  }
  .projects {
    @apply min-h-[auto] pb-48 bg-secondDarkBg px-[9%];
    .heading {
      @apply text-[5rem] mb-12 text-center;
      span {
        @apply text-mainBlue;
      }
    }
  }
  .footer {
    @apply flex items-center flex-wrap px-[9%] py-8 bg-mainDarkBg;
    .footer-text {
      p {
        @apply text-[1.6rem];
      }
    }
    .footer-icon_top {
      @apply ml-auto mt-4 md:mt-0;
      a {
        @apply relative inline-flex justify-center items-center p-[0.8rem] bg-mainBlue border-[0.2rem] border-solid border-mainBlue rounded-[0.6rem] overflow-hidden text-customWhiteText transition-colors duration-500;
      }

      a::before {
        @apply content-[""] absolute top-0 left-0 w-0 h-full bg-mainDarkBg transition-all duration-500;
      }

      a:hover::before {
        @apply w-full;
      }

      a .icon {
        @apply relative w-6 h-6 text-customWhiteText transition-colors duration-500 z-10;
      }

      a:hover {
        @apply text-mainBlue;
      }

      a:hover .icon {
        @apply text-mainBlue;
      }
    }
  }
}
