@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth font-poppins m-0 p-0 border-[none] outline-[none];
  }

  html {
    @apply text-[62.5%] overflow-x-hidden;
  }

  body {
    @apply bg-mainDarkBg bg-opacity-100 text-customWhiteText font-poppins;
  }

  section {
    min-height: -webkit-fill-available;
    @apply min-h-dvh lg:min-h-screen pt-40 px-[9%] pb-8;
  }
}

@layer components {
  .header {
    @apply fixed top-[0] left-[0] w-full px-[9%] flex-col py-8 bg-transparent flex justify-between items-center overflow-hidden z-10 md:flex-row transition-colors duration-500 ease-in-out;
    .logo {
      @apply text-[2.7rem] text-customWhiteText font-semibold;
    }
    .navbar {
      @apply mt-4 md:mt-0;
    }
  }
  .header.sticky {
    @apply bg-secondDarkBg shadow-md;
  }

  .home {
    background: url(./assets/home.jpg) no-repeat;
    @apply flex items-center px-6 md:px-[9%] bg-cover bg-center;
    .home-content {
      @apply w-full md:max-w-[69rem];
      h1 {
        @apply text-[3rem] sm:text-[4rem] lg:text-[5.6rem] font-bold leading-[1.3];
        span {
          @apply text-customWhiteText;
        }
      }
      .text-transparent {
        @apply relative w-full md:w-[32.8rem];
        h2 {
          -webkit-text-stroke: 0.7px #ededed;
          @apply text-[2rem] sm:text-[2.4rem] lg:text-[3.2rem] font-bold text-transparent;
        }
      }
      p {
        @apply text-[1.2rem] sm:text-[1.4rem] lg:text-[1.6rem] my-8 mx-[0];
      }
      .btn-box {
        .btn {
          @apply relative pt-[11px] pb-[9px] inline-flex justify-center items-center w-48 md:w-64 h-full border-[0.2rem] rounded-lg text-[1.3rem] sm:text-[1.5rem] lg:text-[1.7rem] font-semibold tracking-[0.1rem] z-[1] overflow-hidden transition-all duration-500;
          &:hover {
            @apply bg-transparent text-mainBlue;
          }
        }
        .primary-btn {
          @apply bg-mainBlue border-mainBlue text-secondDarkBg;
        }

        .primary-btn:hover {
          @apply text-mainBlue;
        }

        /* Secondary button */
        .secondary-btn {
          @apply bg-transparent border-mainBlue text-mainBlue;
        }

        .secondary-btn:hover {
          @apply text-secondDarkBg;
        }

        .secondary-btn::before {
          @apply bg-mainBlue;
        }

        /* Shared pseudo element styles */
        .btn::before {
          content: "";
          @apply absolute top-0 left-0 w-0 h-full bg-secondDarkBg z-[-1] transition-all duration-500;
        }

        .btn:hover::before {
          @apply w-full;
        }
      }
    }
    .home-img_hover {
      @apply hidden xl:block absolute top-[0] right-[0] w-[45%] h-full bg-transparent [transition:3s] hover:bg-mainDarkBg hover:opacity-80;
    }
  }
  .projects {
    @apply min-h-[auto] pb-48 bg-secondDarkBg px-6 md:px-[9%];
    .heading {
      @apply text-[5rem] mb-12 text-center;
      span {
        @apply text-mainBlue;
      }
    }
    .projects-list {
      @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8;
      .project-item {
        @apply bg-secondDarkBg rounded-2xl shadow-lg overflow-hidden border-[0.2rem] border-[solid] border-mainBlue transition-transform flex flex-col h-full;
        .project-image {
          @apply w-full h-64 object-cover;
        }
        .project-info {
          @apply p-4 flex flex-col flex-1;
          .project-info_title {
            @apply text-[1.9rem] sm:text-[2.2rem] lg:text-[3rem] font-semibold mb-4 text-mainBlue;
          }
          .project-info_text {
            @apply text-[1.1rem] sm:text-[1.3rem] lg:text-[1.5rem] mb-4 text-customWhiteText;
          }
          .project-info_technologies {
            @apply flex flex-wrap gap-2 mb-6 mt-0;
            .pi-tech {
              @apply bg-white text-secondDarkBg text-[1.2rem] sm:text-[1.4rem] font-medium px-3 pt-[4px] pb-[2px] rounded;
            }
          }
          .project-info_links {
            @apply flex justify-between gap-4 items-center mt-auto;
            .btn {
              @apply relative px-4 pt-[8px] pb-[6px] inline-flex justify-center items-center w-auto md:px-0 md:w-48 h-full border-[0.2rem] rounded-lg text-[1.1rem] sm:text-[1.2rem] lg:text-[1.4rem] font-semibold tracking-[0.1rem] z-[1] overflow-hidden transition-all duration-500;
              &:hover {
                @apply bg-transparent text-mainBlue;
              }
            }
            .primary-btn {
              @apply bg-mainBlue border-mainBlue text-secondDarkBg;
            }

            .primary-btn:hover {
              @apply text-mainBlue;
            }

            /* Secondary button */
            .secondary-btn {
              @apply bg-transparent border-mainBlue text-mainBlue;
            }

            .secondary-btn:hover {
              @apply text-white bg-mainBlue;
            }

            .secondary-btn::before {
              @apply bg-mainBlue;
            }

            /* Shared pseudo element styles */
            .btn::before {
              content: "";
              @apply absolute top-0 left-0 w-0 h-full bg-secondDarkBg z-[-1] transition-all duration-500;
            }

            .btn:hover::before {
              @apply w-full;
            }
          }
        }
      }
    }
  }
  .project-modal {
    @apply fixed inset-0 bg-black/60 backdrop-blur-sm flex justify-center items-center z-50 p-2;
    .project-modal-wrap {
      @apply bg-secondDarkBg rounded-xl p-4 sm:p-6 md:p-8 max-w-3xl sm:max-w-md md:max-w-lg lg:max-w-2xl relative overflow-y-auto max-h-[80vh] shadow-xl;
      .pm-wrap-button {
        @apply absolute top-2 right-2 text-customWhiteText text-2xl hover:text-mainBlue transition;
      }
      .pm-wrap-title {
        @apply text-3xl font-bold mb-4 text-mainBlue;
      }
      .pm-wrap-text {
        p {
          @apply text-2xl mb-3 text-customWhiteText;
          span {
            @apply font-semibold;
            a {
              @apply underline hover:text-mainBlue;
            }
          }
        }
      }
      .pm-wrap-close {
        @apply mt-4 flex justify-end;
        .btn {
          @apply relative pt-[11px] pb-[9px] bg-mainBlue border-mainBlue text-secondDarkBg inline-flex justify-center items-center w-48 md:w-64 h-full border-[0.2rem] rounded-lg text-[1.3rem] sm:text-[1.5rem] lg:text-[1.7rem] font-semibold tracking-[0.1rem] z-[1] overflow-hidden transition-all duration-500;
          &:hover {
            @apply bg-transparent text-mainBlue;
          }
        }

        .btn:hover {
          @apply text-mainBlue;
        }

        .btn::before {
          content: "";
          @apply absolute top-0 left-0 w-0 h-full bg-secondDarkBg z-[-1] transition-all duration-500;
        }

        .btn:hover::before {
          @apply w-full;
        }
      }
    }
  }
  .footer {
    @apply flex items-center flex-wrap px-6 md:px-[9%] py-8 bg-mainDarkBg;
    .footer-text {
      p {
        @apply text-[1.6rem];
      }
    }
    .footer-icon_top {
      @apply ml-auto;
      a {
        @apply relative inline-flex justify-center items-center p-[0.8rem] bg-mainBlue border-[0.2rem] border-solid border-mainBlue rounded-[0.6rem] overflow-hidden text-customWhiteText transition-colors duration-500;
      }

      a::before {
        @apply content-[""] absolute top-0 left-0 w-0 h-full bg-mainDarkBg transition-all duration-500;
      }

      a:hover::before {
        @apply w-full;
      }

      a .icon {
        @apply relative w-6 h-6 text-customWhiteText transition-colors duration-500 z-10;
      }

      a:hover {
        @apply text-mainBlue;
      }

      a:hover .icon {
        @apply text-mainBlue;
      }
    }
  }
}
